Please enter the URL below:
<form action="/submit_url" method="post">
  <input type="text" placeholder="url" name="URL"/>
  <input type="text" placeholder="title" name="title"/>
  <input type="submit" name="submit" value="Submit"/>
</form>

<% if flash[:error] %>
  <p class="error">
    <%= flash[:error] %>
  </p>
<% end %>
