
<div>
  <body>
    <h2> Welcome to the bookmark manager</h2>
    <h3> What would you like to do? </h3>
    <a href="/bookmarks">View bookmarks</a><br>
    <a href="/add_bookmark">Add a bookmark</a>
  </body>
  </div>
